@model DevPodcasts.ViewModels.Podcast.PodcastIndexViewModel
@{
    ViewBag.Title = "Podcasts";
    var episodeCount = Model.EpisodeCount;
}

<div class="podcasts-container">
    
    <h2>Podcasts</h2>

    <div style="margin: 25px 0;">
        @if (Model == null)
        {
            <h4>0 podcasts</h4>
        }
        else if (Model.Items.Count() == 1)
        {
            <h4>1 podcast</h4>
        }
        else
        {
            <h4>@Model.Items.Count() podcasts</h4>
        }
        <h4>@episodeCount episodes</h4>
    </div>

    @Html.Partial("_PodcastRows", Model.Items)

</div>

<script>
    $(document).ready(function () {
        $(".result-row").click(function () {
            var id = this.id;
            document.location.href = getURL() + "podcasts/detail/" + id;
        })
    });

    function getURL() {
        var arr = window.location.href.split("/");
        delete arr[arr.length - 1];
        return arr.join("/");
    }
</script>