@model DevPodcasts.ViewModels.Tags.TagResultViewModel
@{
    ViewBag.Title = Model.TagName;
}

<div class="tag-results-container">
    <h2>Podcasts tagged <span style="color: rgba(4, 59, 127, 0.95); margin-left: 5px">@Model.TagName</span></h2>

    @Html.Partial("_PodcastRows", Model.SearchResults)

</div>

<script>
    $(document).ready(function () {
        $(".result-row").click(function () {
            var id = this.id;
            document.location.href = getURL() + "podcasts/detail/" + id;
        })
    });

    function getURL() {
        var arr = window.location.href.split("/");
        delete arr[arr.length - 1];
        var url = arr.join("/").replace("podcasts/tagged/", "");
        return url;
    }
</script>

