@model DevPodcasts.ViewModels.Tags.TagResultViewModel
@{
    ViewBag.Title = Model.TagName;
}

<div class="tag-results-container">
    <h2>Podcasts tagged @Model.TagName</h2>

    @Html.Partial("_SearchResults", Model.SearchResults)
</div>

