@model DevPodcasts.ViewModels.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dev Podcasts</h1>
    <p class="lead">Directory for software-related podcasts.</p>
    <p>@Model.TotalPodcasts podcasts listed</p>
</div>

<div class="row">
    @foreach (var pick in Model.PodcastPicks)
    {
        <div class="col-md-4">
            <h2>@pick.Title</h2>
            <p>@pick.Description
            </p>
        <p><a href="@Url.Action("Detail", "Podcast", new { Id = pick.PodcastId })" class="btn btn-default">More &raquo;</a></p>
        </div>    
    }
</div>