@model DevPodcasts.ViewModels.Search.SearchResultsViewModel
@{
    ViewBag.Title = "Search";
}

<h1>Search</h1>

@Html.Partial("_SearchBar")

<div id="search-count">
    @if (Model == null)
    {
        <h4>0 results</h4>
    }
    else if (Model.PodcastSearchResults.Count() == 1)
    {
        <h4>1 result</h4>
    }
    else
    {
        <h4>@Model.PodcastSearchResults.Count() results</h4>
    }
</div>

@if (Model != null)
{
    @Html.Partial("_PodcastRows", Model.PodcastSearchResults)
}

<script>
    $(document).ready(function () {
        $(".result-row").click(function () {
            var id = this.id;
            document.location.href = getURL() + "podcasts/detail/" + id;
        })
    });

    function getURL() {
        var arr = window.location.href.split("/");
        delete arr[arr.length - 1];
        return arr.join("/");
    }
</script>