@model DevPodcasts.ViewModels.Search.SearchResultsViewModel
@{
    ViewBag.Title = "Search";
}

<h1>Search</h1>

@Html.Partial("_SearchBar")

<div id="search-count">
    @if (Model == null)
    {
        <h4>0 results</h4>
    }
    else if (Model.PodcastSearchResults.Count() == 1)
    {
        <h4>1 result</h4>
    }
    else
    {
        <h4>@Model.PodcastSearchResults.Count() results</h4>
    }
</div>

@if (Model != null)
{
    @Html.Partial("_SearchResults", Model.PodcastSearchResults)
}
