<footer id="footer">
    <div class="container">
        @*<p class="text-center">
            <a href="https://twitter.com/nrkirby" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="margin: 5px"></i></a>
            <a href="https://www.linkedin.com/in/nrkirby/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="margin: 5px"></i></a>
        </p>*@
    </div>
</footer>