@model IEnumerable<DevPodcasts.ViewModels.Logs.LogItemViewModel>
@{
    ViewBag.Title = "_LogResultsTable";
}

<table id="LogResults" class="table table-striped" style="position: relative; top: 30px;">
    <tr>
        <th class="col-md-2">Date</th>
        <th class="col-md-2">Level</th>
        <th class="col-md-8">Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">@item.TimeStamp</td>
            <td class="col-md-2">@item.Level</td>
            <td class="col-md-8">@item.LogMessage</td>
        </tr>
    }
</table>
