@model DevPodcasts.ViewModels.Podcast.AddPodcastViewModel
@{
    ViewBag.Title = "AddPodcastForReview";
}

<h2>AddPodcastForReview Podcast</h2>


@using (Html.BeginForm("Add", "Podcast", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter podcast RSS feed URL.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.RssFeedUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RssFeedUrl, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="AddPodcastForReview" />
        </div>
    </div>
}

