@model DevPodcasts.ViewModels.Podcast.SubmitPodcastViewModel
@{
    ViewBag.Title = "Submitted";
    var successResult = Model.SuccessResult;

    string title;
    switch (successResult)
    {
        case DevPodcasts.Dtos.SuccessResult.Success:
            title = "Podcast submitted";
            break;
        case DevPodcasts.Dtos.SuccessResult.InvalidUrl:
            title = "Invalid URL";
            break;
        case DevPodcasts.Dtos.SuccessResult.Error:
            title = "Error";
            break;
        case DevPodcasts.Dtos.SuccessResult.AlreadyExists:
            title = "Already exists";
            break;
        default:
            title = "Not set";
            break;
    }

}

<h2>@title</h2>




