@model DevPodcasts.ViewModels.Admin.ReviewPodcastViewModel
@{
    ViewBag.Title = "ReviewPodcast";
}

<h2>Review Podcast</h2>

<div class="row">
    <strong>Title:</strong> @Html.DisplayFor(m => m.Title)
</div>
<div class="row">
    <strong>Website:</strong> @Html.DisplayFor(m => m.SiteUrl)
</div>

