@model IEnumerable<DevPodcasts.ServiceLayer.Tag.TagItemViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h2>Tags</h2>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="tag col-sm-3 col-xs-6">
                <a href="~/tags/@item.Slug">@item.Name</a>
            </div>
        }
        </div>
</div>


