.navbar-inverse {
  background-color: #78a6ce;
  border-color: #78a6ce;
  margin-bottom: 20px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #78a6ce;
  margin-bottom: 20px;
}
.navbar-inverse .navbar-brand {
  color: #000;
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}
.navbar-brand {
  font-weight: 700;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 17px;
  height: 100px;
}
html {
  height: 100px;
}
h2 {
  color: #33658a;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Homepage */
.home-container {
  margin-top: 20px;
}
.home-container .row {
  margin: 40px 0;
}
.home-container .row .lead {
  text-align: center;
}
.home-container h1 {
  text-align: center;
  color: #232F3E;
  font-size: 3em;
}
.home-container img {
  margin: 0 auto;
  display: block;
  width: 250px;
  height: auto;
}
.recent-episodes p {
  display: inline;
  font-size: 1.3em;
}
.recent-episodes li {
  margin: 10px 0;
}
.recent-episodes ul {
  list-style-type: none;
  padding: 10px;
}
.featured-podcast hr {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Episodes */
.episode-detail-container {
  margin-bottom: 100px;
  margin-top: 50px;
}
#audio {
  margin: 0 10px;
  width: 100%;
}
/* Tags */
.tags-container p {
  margin-bottom: 30px;
}
.tags-container h2 {
  margin: 40px 0;
}
.tags-row {
  margin-bottom: 75px;
}
.tag-results-container {
  margin-bottom: 50px;
}
.tag-results-container h2 {
  margin-top: 40px;
  margin-bottom: 35px;
}
/* Podcasts */
.podcasts-container h2 {
  margin-top: 30px;
}
.podcast-detail-container {
  padding: 2em 0;
  overflow: auto;
}
.podcast-detail-container .col-sm-10,
.podcast-detail-container .col-sm-2 {
  padding: 0;
}
.podcast-detail-container h2 {
  margin-top: 0;
}
.edit-podcast-container .btn-primary {
  margin-top: 20px;
}
.edit-podcast-container .btn-danger {
  margin-top: 20px;
}
@media (max-width: 770px) {
  .podcast-detail-container .col-sm-2 img {
    margin-top: 2em;
  }
}
.podcast-tag {
  color: #39739d;
  background-color: #E1ECF4;
  border-color: transparent;
  text-align: center;
  padding: .4em .5em;
  display: inline-block;
  margin: 2px 2px 2px 0;
  font-size: 12px;
  text-decoration: none !important;
}
.podcast-tag:hover {
  color: #33658a;
  background-color: #cee0ed;
  border-color: rgba(0, 0, 0, 0);
}
@media (max-width: 618px) {
  .podcast-detail-image {
    margin-top: 15px;
    float: left;
  }
}
.podcast-img {
  width: 100%;
}
.button-row {
  clear: both;
  padding-left: 0;
}
.button-row li {
  margin: 10px 0 0 0;
  /*padding: 0.4em 0.6em;*/
}
.button-row li span.glyphicon:before {
  padding-right: 0.3em;
}
.button-row li .glyphicon-ok:before {
  /*color: green;*/
}
.button-row span:hover {
  color: #33658a;
  cursor: pointer;
}
/* Footer */
#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 1em;
  background-color: #232F3E;
  color: azure;
}
#footer h4 {
  border-bottom: 1px solid #5d5d5d;
  padding: 10px 0;
}
#footer .column ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
  line-height: 22px;
}
#footer .footer-2-col {
  padding-left: 0;
}
#footer .footer-a {
  color: azure;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* font awesome styling */
.fa-check {
  color: chartreuse;
}
/* search */
.search-bar {
  padding: 0 0 0 0;
}
#search-count {
  clear: both;
  position: relative;
  top: 12px;
  left: 15px;
}
.result-img {
  width: 100%;
}
.result-row {
  margin-bottom: 1em;
}
.result-row h3 {
  margin-top: 0px;
  color: #33658a;
}
#results-container a {
  text-decoration: none;
  color: black;
}
.result-episode-count {
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: bold;
  color: #33658a;
}
#search-list {
  list-style-type: none;
}
.podcast-summary {
  overflow: hidden;
  position: relative;
  left: 10px;
}
/* bootstrap overrides */
.form-group {
  margin-bottom: 20px;
}
.form-control {
  font-size: 17px;
  padding: 20px 15px;
  -ms-border-radius: 0;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
}
.search-btn {
  font-size: 18px;
  -ms-border-radius: 0;
  border-radius: 0;
  height: 42px;
}
.btn {
  font-size: 17px;
  padding: 7px 20px;
  -ms-border-radius: 0;
  border-radius: 0;
}
#log-results {
  margin-bottom: 80px;
}
#manage-podcasts-table {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tag {
  padding: 10px 10px;
}
.glyphicon-tags {
  font-size: 14px;
  color: #696969;
}
.podcast-tags {
  margin-left: 5px;
  display: inline;
}
.tag-text {
  margin-left: 3px;
  color: #696969;
  font-size: 14px;
}
.episode-published {
  color: #696969;
  display: block;
  font-size: 0.9em;
  margin-top: 19px;
}
.nrkirby {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.4em;
}
.nrkirby a {
  text-decoration: none;
  color: #FFD700;
}