@lightBlue: #78a6ce;
@darkerBlue: #33658a;
@charcoalBlack: #232F3E;
@lightGrey: #696969;
@inputBorderRadius: 3px;
@buttonBorderRadius: 0;
@fontFamily: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

.navbar-inverse {
    background-color: @lightBlue;
    border-color: @lightBlue;
    margin-bottom: 20px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: @lightBlue;
    margin-bottom: 20px;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-brand {
    font-weight: 700;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 17px;
    height: 100px;
}

html {
    height: 100px;
}

h2 {
    color: @darkerBlue;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: @fontFamily;
}

/* Homepage */
.home-container {
    margin-top: 20px;

    .row {
        margin: 40px 0;
    }

    .row .lead {
        text-align: center;
    }

    h1 {
        text-align: center;
        color: @charcoalBlack;
        font-size: 3em;
    }

    img {
        margin: 0 auto;
        display: block;
        width: 250px;
        height: auto;
    }
}

.recent-episodes {
    p {
        display: inline;
        font-size: 1.3em;
    }

    li {
        margin: 10px 0;
    }

    ul {
        list-style-type: none;
        padding: 10px;
    }
}

.featured-podcast hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.episode-detail-container {
    margin-bottom: 100px;
    margin-top: 50px;

    #audio {
        margin: 0 10px;
        width: 100%;
    }
}

.tags-container {
    p {
        margin-bottom: 30px;
    }

    h2 {
        margin: 40px 0;
    }
}

.tags-row {
    margin-bottom: 75px;
}

.tag-results-container {
    margin-bottom: 50px;

    h2 {
        margin-top: 40px;
        margin-bottom: 35px;
    }
}

.podcasts-container {
    h2 {
        margin-top: 30px;
    }
}

.podcast-detail-container {
    padding: 2em 0;

    .header-row {
        overflow: hidden;
    }

    .col-sm-10, .col-sm-2 {
        padding: 0;
    }

    h2 {
        margin-top: 0;
    }

    .button-row {
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        clear: both;
        padding-left: 0;

        .glyphicon {
            padding-right: 0.5em;
        }

        li {
            margin: 10px 0 0 0;

            span.glyphicon:before {
                padding-right: 0.3em;
            }
        }

        span:hover {
            cursor: pointer;
        }

        button {
            padding: 0.4em 0.6em;
            height: 100%;
        }

        #search-episodes {
            display: inline-block;
            margin-left: 7px;
            height: 100%;
        }

        .glyphicon {
            padding-right: 0.5em;
        }

        button {
            padding: 0.4em 0.6em;
        }
    }
}

.edit-podcast-container {

    .btn-primary {
        margin-top: 20px;
    }

    .btn-danger {
        margin-top: 20px;
    }
}

.podcast-tag {
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    text-align: center;
    padding: .4em .5em;
    display: inline-block;
    margin: 2px 2px 2px 0;
    font-size: 12px;
    text-decoration: none !important;

    &:hover {
        color: @darkerBlue;
        background-color: #cee0ed;
        border-color: rgba(0,0,0,0);
    }
}

.podcast-img {
    width: 100%
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.fa-check {
    color: chartreuse;
}

.search-bar {
    padding: 0 0 0 0;
}

#search-count {
    clear: both;
    position: relative;
    top: 12px;
    left: 15px;
}

.result-img {
    width: 100%
}

.result-row {
    margin-bottom: 1em;
}

.result-row h3 {
    margin-top: 0px;
    color: @darkerBlue;
}

#results-container a {
    text-decoration: none;
    color: black;
}

.result-episode-count {
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: bold;
    color: @darkerBlue;
}

#search-list {
    list-style-type: none;
}

.podcast-summary {
    overflow: hidden;
    position: relative;
    left: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: @inputBorderRadius;
    border-radius: @inputBorderRadius;
}

.form-control:focus {
    box-shadow: none;
}

.search-btn {
    font-size: 18px;
    -ms-border-radius: @buttonBorderRadius;
    border-radius: @buttonBorderRadius;
    height: 42px
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: @buttonBorderRadius;
    border-radius: @buttonBorderRadius;
}

#log-results {
    margin-bottom: 80px;
}

#manage-podcasts-table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tag {
    padding: 10px 10px;
}

.glyphicon-tags {
    font-size: 14px;
    color: @lightGrey;
}

.podcast-tags {
    margin-left: 5px;
    display: inline;
}

.tag-text {
    margin-left: 3px;
    color: @lightGrey;
    font-size: 14px;
}

.episode-published {
    color: @lightGrey;
    display: block;
    font-size: 0.9em;
    margin-top: 19px;
}

.account {
    padding: 0.2em 0.2em;
    margin-top: 20px;
    margin-top: 10vh;

    h2 {
        text-align: left;
    }

    .form-control {
        width: 100%;
    }

    input.form-control {
        max-width: 100%;
        margin: 2em 0;
        height: 3em;
    }

    input[type="submit"].btn.btn-primary {
        display: block;
        margin: 1.2em 0;
        text-transform: uppercase;
    }

    #RememberMe {
        margin-right: 0.5em;
    }
}

.library-container {

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul.nav {
        margin-bottom: 1em;
    }

    h1 {
        margin: 1em 0;
    }

    table {
        width: 100%;
        margin-top: 1em !important;
    }

    tr {

        td {
            padding-top: 0.3em;
            padding-bottom: 0.3em;
        }

        td:nth-child(2) {
            padding-left: 3px;
            vertical-align: central;
            text-align: left;
            width: 40px;
            font-size: 0.9em;
            color: red;
            cursor: pointer;
        }

        td:nth-child(3) {
            width: auto;
            text-align: left;
        }
        /*td:nth-child(3) {
            width: 7%;
            font-size: 0.9em;
            color: red;
        }*/
    }
}

#footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 1em;
    background-color: @charcoalBlack;
    color: azure;

    h4 {
        border-bottom: 1px solid #5d5d5d;
        padding: 10px 0;
    }

    .footer-a {
        color: azure;
    }

    .footer-2-col {
        padding-left: 0;
    }

    .column ul {
        font-size: 13px;
        list-style: none;
        padding: 0;
        line-height: 22px;
    }

    .nrkirby {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 0.4em;

        a {
            text-decoration: none;
            color: #FFD700;
        }
    }
}

/* Media queries */

@media (min-width: 320px) {

    .podcast-detail-container {
        #search-episodes {
            width: 182px;
        }
    }
}

/* iPhone 6 */
@media only screen and (min-device-width : 375px) {

    .podcast-detail-container {
        table.table {
            margin-top: 0;
        }

        #search-episodes {
            width: 237px;
        }
    }
}

@media (max-width:618px) {
    .podcast-detail-image {
        margin-top: 15px;
        float: left;
    }
}

/* iPad */
@media (min-width: 641px) {

    .library-container {
        tr {
            td {
                padding-top: 0.3em;
                padding-bottom: 0.3em;
            }
        }
    }

    .body-content {
        min-height: 670px;
    }
}

@media (max-width: 767px) {
    .account {
        #register-last-name {
            padding-left: 0;
        }
    }
}

// .col-sm-10 col-sm-2 breakpoint
@media (max-width: 770px) {
    .podcast-detail-container .col-sm-2 img {
        margin-top: 2em;
    }
}

/* Desktop */
@media (min-width: 961px) {

    .body-content {
        min-height: 678px;
    }

    .button-row {

        #search-episodes {
            width: 100%;
        }
    }
}

/* Bootstrap Navbar collapse */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}
