@model DevPodcasts.Web.Features.Library.ListEpisodes.ViewModel
@{
    ViewBag.Title = "Episodes";
}

<div class="library-container container">
    <h1>Library</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="~/library/podcasts" role="tab">Podcasts</a></li>
        <li class="active"><a href="~/library/episodes" role="tab">Episodes</a></li>
    </ul>

    @if (Model?.SubscribedEpisodes != null)
    {
        <table>
            @foreach (var episode in Model.SubscribedEpisodes)
            {
                <tr>
                    <td><a href="~/episode/detail/@episode.Id">@episode.Title</a></td>
                </tr>
            }
        </table>
    }

</div>

