@model DevPodcasts.Web.Features.Library.ListEpisodes.ViewModel
@{
    ViewBag.Title = "Bookmarked Episodes";
}

<div class="library-container container">
    <h1>Bookmarked Episodes</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="~/library/episodes" role="tab">Bookmarked Episodes</a></li>
        <li><a href="~/library/podcasts" role="tab">Subscribed Podcasts</a></li>
    </ul>

    @if (Model?.BookmarkedEpisodes != null)
    {
        <table>
            @foreach (var episode in Model.BookmarkedEpisodes)
            {
                <tr>
                    <td><a href="~/episode/detail/@episode.EpisodeId">@episode.EpisodeTitle</a></td>
                </tr>
            }
        </table>
    }

</div>

