@model DevPodcasts.Web.Features.Library.Index.List.ViewModel
@{
    ViewBag.Title = "Library";
}

<div class="library-container container">
    <h1>Library</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="~/library/podcasts" role="tab">Podcasts</a></li>
        @*<li><a href="~/library/episodes" role="tab">Episodes</a></li>*@
    </ul>

    @if (Model?.SubscribedPodcasts != null)
    {
        <table>
            @foreach (var podcast in Model.SubscribedPodcasts)
            {
                <tr>
                    @Html.HiddenFor(m => podcast.Id)
                    <td class="remove-from-library"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    <td class="podcast-title"><a href="~/podcasts/detail/@podcast.Id">@podcast.Title</a></td>
                    @*<td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>*@
                </tr>
            }
        </table>
    }

</div>

<script>
    $('.remove-from-library').on('click', function () {
        if (confirm('Are you sure you want to remove ?')) {
            var p = console.log($(this).parents('tr').find('input[type="hidden"]').val());

            var data = {
                u: ' ',
                p: p
        }

            $.ajax({
                url: "/Podcasts/AddRemove",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    console.log(response.IsSuccess);
                    if (response.IsAdded) {
                        $('#add-to-libary').hide();
                        $('#remove-from-libary').show();
                    } else {
                        $('#remove-from-libary').hide();
                        $('#add-to-libary').show();
                    }
                }
            });
        }
    })
</script>
